<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Admin, </h1>
    <p>
      Foi criado o evento <strong><%= @evento.nome %></strong>
      no agendatech.<br/>
    </p>
    <p>
      Descrição: <%= raw @evento.descricao %>
      Data: <%= l @evento.data %>
      Data término: <%= l @evento.data_termino %>
      Estado: <%= @evento.estado %>
    </p>
    <p>
      Para aprovar o evento, por favor clique no link: 
      <%= link_to "Aprovar", url_for(:action => "aprovar", :controller => "admin/eventos", :only_path => false, :id => @evento) %>.
    </p>
    <p>Obrigado!</p>
  </body>
</html>
